body {
  font-family: 'Raleway', sans-serif;
  /*dostępne rozmiary tekstu 200, 400, 600, 800 */
  margin-left: 15%;
  margin-right: 15%;
}
a {
  text-decoration: none;
}
.logo {
  font-size: 25px;
  font-weight: 800;
  margin-left: 10%;
}
.start {
  color: #000;
}
.end {
  color: #fff;
}
.decoration_leters {
  color: #2196f3;
}
.menu {
  padding: 0;
  list-style: none;
  color: #000;
}
.menu-list {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}
.menu-item {
  color: #000;
  font-weight: 600;
  font-size: 20px;
}
.menu-item:hover {
  color: #2196f3;
}
.adres_link {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}
.adres_link:hover {
  color: #2196f3;
}
.main_section_1 {
  background-color: #2f303a;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 25px;
  padding-left: 15%;
  padding-right: 15%;
}
.button {
  background-color: #2196f3;
  color: #fff;
  font-size: 25px;
  height: 60px;
  width: 250px;
}
.button:hover {
  transform: scale(1.05);
}
.button:active {
  transform: scale(0.95);
}
.main_section_2 {
  padding: 50px;
}
.main_section_2 ul {
  display: flex;
  list-style: none;
}
.main_section_3 {
  text-align: center;
  padding: 50px;
}
.main_section_3 img {
  margin: 5px;
}
.main_section_4 {
  background-color: #f5f4fa;
  text-align: center;
  padding: 50px;
}
.portfolio_section_1 {
  text-align: center;
}
.portfolio_section_2 {
  padding-left: 15%;
  padding-right: 15%;
}
figure {
  background-color: #fff;
  width: 200px;
  display: inline-block;
  margin: 10px;
}
figcaption {
  padding: 20px;
}
footer {
  background-color: #2f303a;
  color: #fff;
  padding: 25px;
}
footer address ul {
  margin-left: 7%;
  list-style: none;
}
.footer_address {
  color: hsla(0, 0%, 100%, 60%);
}
